body {
    background: #fdeee1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: sans-serif;
    position: relative;
}

.header-back {
    position: absolute;
    top: 20px;
    left: 20px;
}

.flecha-regreso {
  padding: 15px;
  background-color:#e36842;
  border: none;
  border-radius: 15px;
  color: rgb(255, 250, 244);
  text-decoration: none;
  transition: all 0.3s ease;
  width: 170px;
  font-size: 15px;
  position: fixed;
}

.flecha-regreso:hover {
  transform: scale(1.05);
}

.flecha-regreso i{
  font-size: 15px;
  padding-right: 10px;
}

.form-container {
    background: white;
    padding: 30px;
    width: 380px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #d65b33;
}

input {
    width: 90%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    font-size: 15px;
}

button {
    width: 100%;
    padding: 12px;
    background: #e36842;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #c5532e;
}
