/* ----------------------------------- Confirmación de Contraseña ------------------------------- */
.contenedor-restaurar{width:100% ; padding-top: 100px; place-items: center;}
.restauracion-contraseña{ width:390px; background: #442719; border: 2px solid rgba(74,43,22,.45); padding: 24px 20px 22px; text-align: center; border-radius: 30px; border-style: none;}
.restauracion-contraseña h2{color: rgb(255, 255, 255); font-size: 23px;}
.restauracion-contraseña p{ color: white;}
.formato-restaurar{margin-top: 20px; margin-bottom:10px; display: grid; gap: 10px; background: transparent;}
.datos-rest {margin-top: 10px; position: relative; display: block;}
.datos-rest input{width: 70%; box-sizing: border-box; padding: 12px 14px; font-size: 14.5px; outline: none; border-style: none; border-radius: 5px;background-color: white }

ul { background: transparent; color: gray; font-weight: 100;
    position: absolute;
    right: 30px;
    top: 65%;
    cursor: pointer;
    font-size: 18px;
}

.boton-confirmar{margin-top: 10px; margin-left: 25%; width: 50%; padding: 12px 14px;
  background: white;
  font-weight: 600;
  border-radius: 30px;
  border-style: none;
  color: #442719;
}

.color{background-color: whitesmoke}

/* responsive */
@media (max-width: 480px) {
  .flecha-regreso{
    font-size: 40px;
  }

  .contenedor{
    margin-top: 20%; 
    adding-left: 30px; 
  } 

  .login { 
    margin-left: 35%; 
    margin-right: 55%;
    padding: 20px 15px; 
    border-radius: 20px;
  }

  .login-registro {
    margin-right: -22.5px;
    margin-left: 30%;
    padding: 20px 15px;
    border-radius: 20px;
  } 

  .datos input {
    padding: 10px 12px;
    padding-left: 35px;
  }

}

/* Confirmación de Contraseña */
.fondo{margin: 0; width: auto; height: 100%;  background-color: orange;}
.lol{background-color: orange;}
.form-contraseña{ margin: 10%; height:500px; width: 500px; background-color: white; place-items: center; border-color: rgb(156, 146, 146); border-style:inset; }