*{ 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
}

body{
  width: auto; 
  height: 600px; 
  background-position: center; 
  background-size: cover; 
  background-repeat: no-repeat; 
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
  background-attachment: fixed;
}

.barra{
  margin-top: 25px;
  margin-left: 35px;
}

.flecha-regreso {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background: linear-gradient(orange, rgb(234, 131, 47));
  background-color: #f38f48;
  border: none;
  border-radius: 15px;
  color: rgb(255, 250, 244);
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 60px;
  height: 55px;
  font-size: 13px;
}

.flecha-regreso:hover {
  background-color: #e67a2b;
  transform: scale(1.05);
}

h2 { color:#442719; background-color: transparent;font-size: 30px;}

.contenedor{ margin: 28px auto; margin-top: 10px;
  width: min(1100px, 94%);
  border-radius: 10px;
  padding: 20px 18px; padding-bottom: 0px;
  display: grid;
  place-items: center;
}
.contenedor-registro{ margin: 28px auto; margin-top: 15px;
  width: min(1100px, 94%);
  border-radius: 10px;
  padding: 20px 18px; padding-bottom: 0px;
  display: grid;
  place-items: center;
  display: flexbox;
}

.login{
  width:420px; 
  height:450px; 
  background:rgb(255, 255, 255, 0.8); 
  border-radius: 35px; 
  border: 2px solid rgba(74,43,22,.45); 
  padding: 24px 20px 22px;
  text-align: center;   
  align-items: center;
}
.login-registro{
  width:420px; 
  height:450px; 
  background:rgb(255, 255, 255, 0.8); 
  border-radius: 35px; 
  border: 2px solid rgba(74,43,22,.45); 
  padding: 50px 20px 22px;
  text-align: center;
}

.logo{display:block; width: 50%; height: auto; margin: 4px auto 8px; object-fit: contain; background: transparent;}  

/* Imagen circular tipo icono de usuario */
.user-icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: linear-gradient( rgb(101, 101, 100), rgb(53, 53, 53));
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 37.5%;
}

/* Cabeza del usuario */
.user-icon::before {
  content: "";
  position: absolute;
  top: 22px;
  width: 30px;
  height: 30px;
  background: white;
  border-radius: 50%;
}

/* Cuerpo del usuario */
.user-icon::after {
  content: "";
  position: absolute;
  bottom: 20px;
  width: 60px;
  height: 35px;
  background: white;
  border-radius: 50% / 60%;
}


.form{ margin-bottom:10px; display: grid; gap: 10px; background: transparent;}
.datos {margin-top: 10px; position: relative; display: block;}
.datos input{width: 80%; box-sizing: border-box; padding: 12px 14px; padding-left: 40px; border-radius: 10px; border: 2px solid rgba(74,43,22,.45); font-size: 14.5px; outline: none;
}

.datos i{color: #967f74; background: transparent; position: absolute; padding-left: 45px;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    pointer-events: none;
}
ul { padding-right: 35px; padding-bottom: 10.5px; background: transparent; color: gray; font-weight: 100;
    position: absolute;
    right: 10px; /* Alinea el ícono a la derecha */
    top: 50%; /* Centra el ícono verticalmente */
    transform: translateY(-50%); /* Ajusta el ícono para centrarlo perfectamente */
    cursor: pointer;
    font-size: 18px;
}

.boton_ingresar{
  margin-top: 6px;
  margin-left: 16.4%;
  width: 70%;
  padding: 12px 14px;
  border: none;
  border-radius: 10px;
  background: #442719;
  color: #fff;
  font-weight: 800;
  cursor: pointer;
}

.boton-registro{
  margin-top: 13px;
  width: 70%;
  padding: 12px 14px;
  border: none;
  border-radius: 10px;
  background: #442719;
  color: #fff;
  font-weight: 800;
  cursor: pointer;
}

.olvidaste-contraseña{margin: auto; height: auto; padding-right: 35%; justify-self: left;}
.ayuda:hover{text-decoration: underline;}
.ayuda {background: transparent; text-decoration: none; color: rgb(42, 100, 136);}


.sinregistrar{background: transparent; color: black; text-decoration: none;}
.registrarse{color: brown; text-decoration:underline;}

.aceptar-condiciones{margin-top: 10px; padding-right: 5%; position: relative; color: black; background: transparent;}
.aceptar-condiciones a{ color: black; background-color: transparent; }
.aceptar-condiciones a:hover{color: #967f74;}

.con-cuenta{margin-top: 10px; background: transparent; color:black; text-decoration: none; }
.ingresar{color: brown; text-decoration:underline;}



/*politicas de privacidad y condiciones*/

.policies-container {
    width: 90%;
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    border-radius: 8px; 
}

.policies-container h1 {
    text-align: center;
    margin-bottom: 15px;
    color: #e74c3c; 
    font-size: 20px;
    background-color: transparent;
}

.policies-container h2 {
    margin-top: 10px;
    color: #d35400; 
    font-size: 16px;
    background-color: transparent;

}

.policies-container p {
    margin: 5px 0;
    text-align: justify;
    background-color: transparent;
}

footer {
    justify-items: center;
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
    color: #888;
    background-color: transparent;
}

footer p {
    margin: 10px 0;
}

/* ----------------------------------- Confirmación de Contraseña ------------------------------- */
.contenedor-restaurar{width:100% ; padding-top: 100px; place-items: center;}
.restauracion-contraseña{ width:390px; background: #442719; border: 2px solid rgba(74,43,22,.45); padding: 24px 20px 22px; text-align: center; border-radius: 30px; border-style: none;}
.restauracion-contraseña h2{color: rgb(255, 255, 255); font-size: 23px;}
.restauracion-contraseña p{ color: white;}
.formato-restaurar{margin-top: 20px; margin-bottom:10px; display: grid; gap: 10px; background: transparent;}
.datos-rest {margin-top: 10px; position: relative; display: block;}
.datos-rest input{width: 70%; box-sizing: border-box; padding: 12px 14px; font-size: 14.5px; outline: none; border-style: none; border-radius: 5px;background-color: white }

ul { background: transparent; color: gray; font-weight: 100;
    position: absolute;
    right: 30px;
    top: 65%;
    cursor: pointer;
    font-size: 18px;
}

.boton-confirmar{margin-top: 10px; margin-left: 25%; width: 50%; padding: 12px 14px;
  background: white;
  font-weight: 600;
  border-radius: 30px;
  border-style: none;
  color: #442719;
}

.color{background-color: whitesmoke}

/* responsive */
@media (max-width: 480px) {
  .flecha-regreso{
    font-size: 40px;
  }

  .contenedor{
    margin-top: 20%; 
    adding-left: 30px; 
  } 

  .login { 
    margin-left: 35%; 
    margin-right: 55%;
    padding: 20px 15px; 
    border-radius: 20px;
  }

  .login-registro {
    margin-right: -22.5px;
    margin-left: 30%;
    padding: 20px 15px;
    border-radius: 20px;
  } 

  .datos input {
    padding: 10px 12px;
    padding-left: 35px;
  }

}
*{ margin: 0; padding: 0;}
body{width: auto; height: 600px; background-position: center; background-size: cover; background-repeat: no-repeat; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }
.barra {height: 10px; width:auto; padding-top: 15px;}
.flecha-regreso {margin-top: 50px;  background-color: transparent; margin-left: 40px;  padding: 8px 16px; width: 12.5%; height: 30px;  border-style: none; border-radius: 15px; color:rgb(252, 252, 252, 0.8);  font-size: 24px; }

h2 { color:#442719; background-color: transparent;font-size: 30px;}

.contenedor{ margin: 28px auto; margin-top: 10px;
  width: min(1100px, 94%);
  border-radius: 10px;
  padding: 20px 18px; padding-bottom: 0px;
  display: grid;
  place-items: center;
}
.contenedor-registro{ margin: 28px auto; margin-top: 20px;
  width: min(1100px, 94%);
  border-radius: 10px;
  padding: 20px 18px; padding-bottom: 0px;
  display: grid;
  place-items: center;
  display: flexbox;
}

.login{ width:420px; height:450px; background:rgb(255, 255, 255, 0.8); border-radius: 35px; border: 2px solid rgba(74,43,22,.45); padding: 24px 20px 22px; text-align: center;
}
.login-registro{width:420px; height:380px; background:rgb(255, 255, 255, 0.8); border-radius: 35px; border: 2px solid rgba(74,43,22,.45); padding: 50px 20px 22px; text-align: center;
}

.logo{display:block; width: 50%; height: auto; margin: 4px auto 8px; object-fit: contain; background: transparent;}  
.form{ margin-bottom:10px; display: grid; gap: 10px; background: transparent;}
.datos {margin-top: 10px; position: relative; display: block;}
.datos input{width: 80%; box-sizing: border-box; padding: 12px 14px; padding-left: 40px; border-radius: 10px; border: 2px solid rgba(74,43,22,.45); font-size: 14.5px; outline: none;
}

.datos i{color: #967f74; background: transparent; position: absolute; padding-left: 45px;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    pointer-events: none;
}
ul { padding-right: 50px; background: transparent; color: gray; font-weight: 100;
    position: absolute;
    right: 10px; /* Alinea el ícono a la derecha */
    top: 50%; /* Centra el ícono verticalmente */
    transform: translateY(-50%); /* Ajusta el ícono para centrarlo perfectamente */
    cursor: pointer;
    font-size: 18px;
}

.boton_ingresar{
  margin-top: 6px;
  margin-left: 16.4%;
  width: 70%;
  padding: 12px 14px;
  border: none;
  border-radius: 10px;
  background: #442719;
  color: #fff;
  font-weight: 800;
  cursor: pointer;
}

.boton-registro{
  margin-top: 13px;
  width: 70%;
  padding: 12px 14px;
  border: none;
  border-radius: 10px;
  background: #442719;
  color: #fff;
  font-weight: 800;
  cursor: pointer;
}

.olvidaste-contraseña{margin: auto; height: auto; padding-right: 40%; justify-self: left;}
.ayuda:hover{text-decoration: underline;}
.ayuda {background: transparent; text-decoration: none; color: rgb(42, 100, 136);}


.sinregistrar{background: transparent; color: black; text-decoration: none;}
.registrarse{color: brown; text-decoration:underline;}

.aceptar-condiciones{margin-top: 10px; padding-right: 12%; position: relative; color: black; background: transparent;}
.aceptar-condiciones a{ color: black; background-color: transparent; }
.aceptar-condiciones a:hover{color: #967f74;}

.con-cuenta{margin-top: 10px; background: transparent; color:black; text-decoration: none; }
.ingresar{color: brown; text-decoration:underline;}



/*politicas de privacidad y condiciones*/


.politicasycondiciones{
  background-image: url(https://images4.alphacoders.com/139/thumb-1920-1392473.webp);
background-size:cover;
background-repeat: no-repeat;
background-attachment: fixed;
background-position:center;

}

.policies-container {
    width: 90%;
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    background-color: #442719;
    box-shadow: 0 4px 10px rgba(10, 10, 10, 10);
    font-size: 14px;
    border-radius: 8px; 
}


.policies-container h1 {
    text-align: center;
    margin-bottom: 15px;
    color: #fff; 
    font-size: 20px;
    background-color: transparent;
}

.policies-container h2 {
    margin-top: 10px;
    color: #fff; 
    font-size: 16px;
    background-color: transparent;

}

.policies-container p {
    margin: 5px 0;
    text-align: justify;
    background-color: transparent;
    color: #ffd699;
}

button{
  border-radius: 8px;
  background-color: #442719;
  color: #fff;
  border: #442719;
  padding: 10px 20px;
  box-shadow:  0 4px 10px rgba(10, 10, 10, 10);
}

button:hover{
  background-color: #e36842;
}

footer {
    justify-items: center;
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
    color: #888;
    background-color: transparent;
}

footer f {
    margin: 10px 0;
}

/* Confirmación de Contraseña */
.fondo{margin: 0; width: auto; height: 100%;  background-color: orange;}
.lol{background-color: orange;}
.form-contraseña{ margin: 10%; height:500px; width: 500px; background-color: white; place-items: center; border-color: rgb(156, 146, 146); border-style:inset; }